@use "@/styles/breakpoints" as *;

.wrap {
  width: 100%;
  margin-inline: auto;
}

.header {
  display: grid;
  gap: .35rem;
  margin-bottom: .5rem;
  text-align: center;
}
.title {
  margin: 0;
  font-size: clamp(1.125rem, 1.6vw, 1.5rem);
  font-weight: 800;
  color: var(--text);
}
.subtitle {
  margin: 0;
  color: var(--subtle);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.tab {
  appearance: none;
  border:none;
  background: transparent;
  // color: var(--text);
  padding: .4rem .7rem;
  font-size: .95rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  svg {
    width:60px;
    height:60px;
    fill:currentColor;
    color:var(--text);
    @include max(sm) {
      width:50px;
      height:50px;
    }
  }
}

.active {
  .tabLabel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.625rem;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--primary);
      border-radius: var(--radius-full);
    }

    // the yellow down arrow
    &::before {
      content: "";
      position: absolute;
      bottom: -0.625rem;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid var(--primary);
    }
  }
}

.tabLabel {
  line-height: 1;
  color:var(--text);
}

.carousel :global(.swiper-slide) {
  height:150px; 
}