.breadcrumb {
  padding: 1rem 0;
  font-size: 0.9rem;

  ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      text-transform: capitalize;

      svg {
        fill: currentColor;
        opacity: 0.6;
        margin: 0 0.5rem;
      }

      a {
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: #666;
        text-transform: capitalize;
      }
    }
  }
}

.breadcrumbBack {
  margin: 1rem 0;
  a {
    height:auto;
  }
}