// styles/_breakpoints.scss

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px, 
  filter-breakpoint: 790px
);

// Helper: get value from map
@function bp($size) {
  @return map-get($breakpoints, $size);
}

// Ensure offsets have units (default 0px)
@mixin min($size, $offset: 0px) {
  $value: bp($size) + $offset; // e.g. 576px + 0px => 576px
  @media (min-width: #{$value}) {
    @content;
  }
}

@mixin max($size, $offset: 0px) {
  $value: bp($size) + $offset;
  @media (max-width: #{$value}) {
    @content;
  }
}

@mixin between($lower, $upper, $offset-lower: 0px, $offset-upper: 0px) {
  $min: bp($lower) + $offset-lower;
  $max: bp($upper) + $offset-upper;
  @media (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}
