.bg-gradient {
  background: var(--bg-gradient);
}

.clr-primary {
  color: var(--primary);
}
.clr-secondary {
  color: var(--secondary);
}
.clr-accent {
  color: var(--accent);
}
.clr-subtle {
  color: var(--subtle);
}
.clr-border {
  border-color: var(--border);
}
.clr-background {
  background-color: var(--bg);
}
.clr-text {
  color: var(--text);
}

.p-0 {
  padding: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.m-0 {
  margin: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
