.clr-primary {
  color: var(--primary);
}
.clr-secondary {
  color: var(--secondary);
}
.clr-accent {
  color: var(--accent);
}
.clr-subtle {
  color: var(--subtle);
}
.clr-border {
  border-color: var(--border);
}
.clr-background {
  background-color: var(--bg);
}
.clr-text {
  color: var(--text);
}
