/* /components/modules/styles.module.scss */
@use "@/styles/breakpoints" as *;

.card {
  --hover-bg: var(--faction-primary);
  --hover-fg: var(--faction-secondary);
  height:100%;
  display: grid;
  gap: 1rem;
  align-content: center;
  justify-items: center;
  padding: 0.875rem 1rem;
  border-radius: var(--radius-sm);
  background: var(--bg-card);
  color: var(--subtle); 
  border: 1px solid var(--border, #2a2a2a);
  text-decoration: none;

  &:hover,
  &:focus-visible {
//     background: radial-gradient(
//   circle at center,
//   var(--hover-bg) 0%,
//   color-mix(in srgb, var(--hover-bg) 60%, var(--bg)) 100%
// );
    background: var(--hover-bg);
    color: var(--hover-fg);
    // border-color: var(--hover-bg);
    outline: none;
    svg {
      fill: currentColor;
      color: currentColor;
    }
  }
}

.icon {
  display: grid;
  place-items: center;
  svg {
    width: 60px;
    height: 60px;
    color: color-mix(in oklab, var(--text), transparent 12%);
    fill: color-mix(in oklab, var(--text), transparent 12%);
    @include max(md) {
      width:50px;
      height:50px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 0.938rem;
  text-align: center;
  line-height: 1.2;
  // color:var(--subtle);
}

@media (prefers-reduced-motion: reduce) {
  .card { transition: none; }
}
